@import "~bootstrap/scss/bootstrap";

body {
  background-color: palevioletred;

}

#wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

%center-shared {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrap {
  @extend %center-shared;
}

#randoBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%saved-sizes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: auto;
  border: 1px solid black;
}

#savedWrap {
  
  margin-left: 100px;
  margin-top: -550px;
  @extend %saved-sizes
};


